.grid-container-cajas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 75%; /* ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* centra el contenedor */
}

.card {
    width: calc(25% - 20px); /* calcula el ancho de cada cajita (25% del contenedor menos los márgenes) */
    height: calc(25% - 20px); /* altura igual al ancho */

    margin: 10px; /* márgenes */
    border-radius: 4%;
    padding: 20px;
    background-image: linear-gradient( 109.6deg,  rgba(102,51,153,1) 11.2%, rgba(2,0,4,1) 91.1% );
    color: white;
}

.ctf-name {
    text-align: center;
    font-size: 22px;
}

.plataforma-name {
    font-style: normal;
    font-size: 14px;
    color: #25ffed;
}

.hide {
    display: none;
}
